body {
    background-color: black;
}

    li
    {
      text-align: center;
    font-size: 50px ;
    }
  
    
    a { text-decoration: none;
      font-family: 'Orbitron', sans-serif;
    color: #0af07df1;
    font-weight: bold;
    text-align: center;
    }
    
    
    li:hover a {
    color: rgb(249, 249, 249);}



  .caja1 {
    background-color: rgb(168, 110, 182);
  border-radius: 40px;
height: 80%;
width: 100%;
text-align: center;
margin-right: 450px;
color: #fff;
border: #fff solid;
    }

    #kaka {
      color: #000  ;
      font-size: 20px;
      font-weight: 800;
      font-family: 'Roboto Mono', monospace;
     
    }

    #kaka {
      font-size: 30px;
      background-color: beige;
      display: inline-block;
      border-radius: 5px;
    }


    #leo {
      font-family: 'Varela Round', sans-serif; 
      
    }

    

    .li1 {
      background-color: rgb(0, 177, 159);
      border-radius: 15px;
      font-size: 40px;
    }

    .li2 {
      background-color: rgb(4, 129, 116);
      border-radius: 15px;
      font-size: 40px;
    }

    .li3{
      background-color: rgb(3, 100, 90);
      border-radius: 15px;
      font-size: 40px;
    }
    .li4 {
      background-color: rgb(2, 83, 75);
      border-radius: 15px;
      font-size: 40px;
    }
    .li5 {
      background-color: rgb(1, 70, 64);
      border-radius: 15px;
      font-size: 40px;
    }

    

